*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.todo-container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
#taskInput{
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#addTaskBtn{
    padding: 10px;
    margin-left: 5px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;;
}
#addTaskBtn:hover{
    background: #218838;
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
li{
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
li.completed{
    text-decoration: line-through;
    background: #d4edda;
}
