*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
}
#calculatorbox{
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    display: inline-block;
    background-color: #f9f9f9;

}

input{
    padding: 10px;
    margin: 10px;
    width: 100px;
    font-size: 16px;
}
button{
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
#result{
    margin-top: 20px;
    font-size: 20px;
}